.filter-img {
    filter: drop-shadow(0px 15px 30px rgba(0, 0, 0, 0.16));
    margin-left: -5%;
}


.card-containermusic {
    box-shadow: 0px 25px 40px rgba(0, 0, 0, 0.02);
    background: #ffffff80;
    height: 120px;
    margin-left: 5%;
    text-align: center;
    background: #FFFFFF;
    border-radius: 24px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    color: white;
    width: 700px;
}

.cardmusic {

    display: flex;
    width: 620px;
    margin-bottom: 5%;
    align-items: center;
    text-overflow: ellipsis;
    overflow: hidden;
}

.card-containermusic:hover {

    border-radius: 10px;
    opacity: .8;

}



.action {
    display: flex;
    justify-content: space-between;
    width: 70%;
    text-decoration: none;
}

.img {
    position: relative;
    display: flex;
    padding: 10px;
}

.play-button {
    display: none;
}

.card-containermusic:hover .play-button {
    display: block;
}

@media only screen and (max-width: 800px) {
    .cardmusic {
        width: 320px;
        overflow: hidden;
        padding: 10px;
        text-overflow: ellipsis;
    }

    .card-containermusic {
        width: 350px;
        padding: 10px;
        margin: auto;
    }

    .action {
        text-overflow: ellipsis;
        overflow: hidden;
        height: 100px;
        width: 60px;
        text-decoration: none;
    }

    .button-container {
        display: flex;
        flex-wrap: wrap;
    }

}