.rounded-image{
    border-radius: 50%;
    width: 200px;
    height: 200px;
}
.rounded-image:hover {
    border-radius: 8px;
}

.lyric-container{
    margin-top: 20px;
    margin-bottom: 20px;
    outline: solid;
    width: 500px;
}
.related-song{
    position: absolute;
    right: 100px;
}
.p{
    margin-top: 30px;
    margin-left: 30px;
    align-items: baseline;

}